@layer base {
  /* Khởi tạo các kiểu lập trình cơ bản */
  ul {
    list-style-image: none;
  }
}

@layer components {
  .un-order-list {
    /* webpackIgnore: true */
    list-style-image: url('/images/icons/bullet.svg');
    li {
      padding-left: 5px;
    }
  }
}