@layer my-base {
  /* Khởi tạo các kiểu lập trình cơ bản */
  details {
    display: block;
  }

  summary {
    list-style: none;
    cursor: pointer;
  }
}

@layer my-components {
  .accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
  }

  .accordion:hover {
    box-shadow: 2px 2px 2px 1px #e6e6e6;
  }

  .accordion summary {
    padding: 10px;
    background-color: light-dark(#e6e6e6, #93a6e2);
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: normal;
    font-weight: bold;
  }

  .accordion .accordion-content {
    margin: 0;
    padding: 10px;
    background-color: #fafafa;
  }

  .arrow {
    margin-right: 8px; /* Thêm khoảng cách giữa mũi tên và văn bản */
    transition: transform 0.3s ease; /* Chuyển tiếp khi thay đổi trạng thái */
  }

  .arrow-icon {
    user-select: none;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
    width: 12px;
    height: 12px;
  }

  /* Khi details mở */
  details[open] summary .arrow-icon {
    transform: rotate(0deg); /* Quay mũi tên 90 độ khi mở */
  }
}
