@layer my-components {
  .gallery-container {
    container-name: galleryContainer;
    container-type: inline-size;
    margin: 20px 0;
  }

  .gallery-parents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    grid-template-rows: masonry;
  }

  .gallery-child {
    >img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @container (min-width: 600px) {
    .gallery-parents {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @container (min-width: 800px) {
    .gallery-parents {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}